.newOrder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .Order {
    overflow: auto;
    height: 80vh;
  }
  .centralBlock {
    height: 80vh;

    padding: 10vh;

    background-color: rgb(140, 175, 250);

    .blockLi {
      display: flex;

      margin-top: 15px;
    }
  }
}
